@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

html{
    text-align: center;
    background-image: url("../images/background-sap.png");
    background-size: cover;
    font-family: "Montserrat";

}
button{
    margin-top:10px;
    font-family: montserrat;
    font-style: bold;
    padding:20px;
    padding-left : 50px;
    padding-right : 50px;
    border: none;
    background-color: darkblue;
    color : white;
    border-radius : 15px;
    cursor:pointer;
}