@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

html{
    text-align: center;
    background-image: url("../images/background-sap.png");
    background-size: cover;
    font-family: "Montserrat";

}

button{
    margin-top:10px;
    font-family: montserrat;
    font-style: bold;
    padding:20px;
    padding-left : 50px;
    padding-right : 50px;
    border: none;
    background-color: darkblue;
    color : white;
    border-radius : 15px;
    cursor:pointer;
}

.addNOA{
    font-family: "Montserrat";
}

.addType{
    font-family: "Montserrat";
}

#addDesc{
    font-family: "Montserrat";
}

.textAreaAdd{
    font-family: "Montserrat";
}

#modifId{
    font-family: "Montserrat";
}

.modType{
    font-family: "Montserrat";
}

#modDesc{
    font-family: "Montserrat";
}

.modNOA{
    font-family: "Montserrat";
}

#supprID{
    font-family: "Montserrat";
}

#typeName{
    font-family: "Montserrat";
}

#typeDesc{
    font-family: "Montserrat";
}

.selectDel{
    font-family: "Montserrat";
}

#myFile{
    font-family: "Montserrat";
}
