@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

.container {
    width:500px;
    height:130px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    margin: 0 auto;  
}

#div-40-questions {
    float:left;
    width:180px;
    height:130px;
    text-align:center;

}

#div-80-questions {
    float:right;
    width:180px;
    height:130px;   
    text-align:center;
}

html{
    text-align: center;
    background-image: url("../images/background-sap.png");
    background-size: cover;
    font-family: "Montserrat";

}

.page {
    display : grid;
    place-items:center;
} 

#text{
    padding-bottom: 100px;
}

button{
      margin-top:50px;
      font-family: montserrat;
      font-style: bold;
      padding:20px;
      padding-left : 50px;
      padding-right : 50px;
      border: none;
      background-color: darkblue;
      color : white;
      border-radius : 15px;
      cursor:pointer;
}

#select-type{
    padding:5px;
}

html, body, body > div, #container, #container-uiarea {
    height: 100%;
}

.quizz{
    padding : 50px;
    outline: thick double #0b6081;
}

.userSpace{
    padding : 50px;
    outline: thick double #0b6081;
}

.admins{
    padding : 50px;
    outline: thick double #0b6081;
}

.select_category{
    font-family: "Montserrat";
}

.select_time{
    font-family: "Montserrat";
}

#startID{
    font-family: "Montserrat";
}