@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #350cec;
  }
  
  li {
    float: left;
    width : 33.3%
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Montserrat;
  }
  
  li a:hover {
    background-color: #0f79db;
  }

  html{
    text-align: center;
    background-image: url("../images/background-sap.png");
    background-size: cover;
    font-family: "Montserrat";

}

td.dataCell {
  text-align : center;
  font-family: "Montserrat";
}

td.entete {
  font-weight: bold;
  text-align : center;
  font-family: "Montserrat";
}