@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,700");

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #350cec;
  }
  
  li {
    float: left;
    width : 33.3%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: Montserrat;
  }
  
  li a:hover {
    background-color: #0f79db;
  }

  html{
    text-align: center;
    background-image: url("../images/background-sap.png");
    background-size: cover;
    font-family: "Montserrat";

}

td.dataCell {
  text-align : center;
  font-family: "Montserrat";
}

td.entete {
  font-weight: bold;
  text-align : center;
  font-family: "Montserrat";
}

.profileImage {
  width : 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom : 25px;
}

img {
  max-width: 100%;
  border-radius: 50%;
}

.profileDiv{
  height : 92%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentDiv {
  width : 50%;
  height: 60%;
  text-align: center;
  border: 3px solid black; 
  background-color: #2185C5;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left : 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

#textElement {
  height : 7%;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

button{
  margin-top:50px;
  font-family: montserrat;
  font-style: bold;
  padding:20px;
  padding-left : 50px;
  padding-right : 50px;
  border: none;
  background-color: darkblue;
  color : white;
  border-radius : 15px;
  cursor:pointer;
}